<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload in NOde JS</title>
</head>
<body>
    <h1>Single FileUpload</h1>

    <form method="POST" action="/upload" enctype="multipart/form-data">
        <span>Upload Single File</span>
        <input type="file" name="mypic" required><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>